<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NinjaCoders</title>
        {{{_sections.head}}}
    </head>
    <body>
        <header>
            <img src="/img/logo.jpg" alt="NinjaCoders Logo">
        </header>
        {{{body}}}
        {{{_sections.scripts}}}
    </body>
</html>